body{
	background-image: url("luana img/back.jpg");
}
h1 {
  font-size: 60px;
  text-align: center;
  margin:20;
  padding: 0px ;
  color: #FF1493;
  text-shadow: 3px 3px 1px black;
}
table {
	width:650px;
	border: 2px solid #DA70D6;
}
th, td {
	padding: 7px 10px 10px 10px;
	color: #8B008B;
}
th {
	letter-spacing: 0.1em;
	font-size: 90%;
	border: 1px solid #DA70D6;
	text-align:left;
	color: #8B008B;
}
p{
	font-size:20px;
	color: #8B008B;
}
h2 {
  font-size:40px;
  color: #DA70D6;
  text-shadow: 3px 3px 1px black;
}		
		footer{
	font-size:10px;
	color: #8B008B;
	}
h3{
  font-size:20px;
  padding: 20px 0;
  color: #DA70D6;